@font-face {
    font-family: "helveticaneue-thin";
    src: url("helveticaneue-thin-13-webfont.woff") format('woff'),
         url("helveticaneue-thin-13-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	font-family: "helveticaneue-thin";
}

#logo {
	position: fixed;
	max-width: 90vw;
	max-height: 10vh; 
	padding-right: 5vw;
	padding-left: 5vw;
	left: 0; right: 0; margin: auto;
	background-color: white;
}

#alert {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: yellow;
	z-index: 1;
	line-height: 100vh;
}

	#temp {
		display: inline-block;
		width: 100%;
		text-align: center;
		vertical-align: middle;
		font-size: 20px;
		line-height: normal;
	}

#notlogo {
	position: fixed;
	overflow: auto;
	top: 10vh;
	width: 100vw;
	height: 90vh;
}

	.artboard {
		position: relative;
		height: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		padding-left: 100px;
		padding-right: 100px;
		border-width: 1px 0px 0px 0px;
		border-color: black;
		border-style: solid;
	}

	img {
		max-width: 100%;
		max-height: 90%;
		vertical-align: middle;
	}

	.names {
		position: relative;
		line-height: 10vh;
		vertical-align: middle;
		font-size: 5vh;
		left: -50px;
	}

	.blank {
		position: relative;
		width: 250px;
		white-space: nowrap;
		display: inline-block;
}

#notlogo {
	-webkit-overflow-scrolling: touch;
 	-webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
 	-webkit-scroll-snap-destination: 100% 0%;
    -ms-scroll-snap-destination: 100% 0%;
        scroll-snap-destination: 100% 0%;
  	-webkit-scroll-snap-points-y: repeat(100%);
    -ms-scroll-snap-points-y: repeat(100%);
        scroll-snap-points-y: repeat(100%);
}

	.artboarc {
		scroll-snap-align: start;
		-webkit-transition: all 0.3s ease-out;
 		transition: all 0.3s ease-out;
	}

	div::-webkit-scrollbar { 
		width: 0;
		height: 0;
	}

	/* Track */
	div::-webkit-scrollbar-track {
	    opacity: 0;
	}

	/* Handle */
	div::-webkit-scrollbar-thumb {
	    opacity: 0;
	}

a {
	text-decoration: none;
	color: magenta;
}

